<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% extends "admin/login.html" %}
{% load static %}

{% block branding %}
<div style="text-align: center; margin-bottom: 20px;">
    {% if company_info and company_info.logo %}
        {# Utilisation de l'URL absolue pour être sûr que ça charge #}
        <img src="{{ company_info.logo.url }}" alt="Logo" style="max-width: 140px; height: auto;">
    {% else %}
        <h1 style="color: #447e9b;">Administration</h1>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{{ block.super }}

{% endblock %}

</body>
</html>